body {
    background-color: #3b3734 !important;
    color: #ffffff !important;
}

/* header */

.siteHeader__topLine {
    background:rgb(110, 110, 110) !important;
}

.siteAnnouncement, .siteAnnouncement__body, .siteAnnouncement__masthead, .siteHeader__topFullImageContainer a {
    display: none;
}

.siteHeader__topLevelItem a {
    color: white !important;
}

.siteHeader__subNavLink span{
    color: #333333 !important;
}

.genreList__genre span, .genreList__genre a, .siteHeader__heading span, .siteHeader__subNav a {
    color: black !important;
}

/* left column */

.gr-h3, .gr-book__author, .gr-newsfeed__title, .homeSecondaryColumn a, .homeSecondaryColumn h3, .homeSecondaryColumn span, .gr-buttonAsLink, .readingChallenge h3 {
    color:#ffffff !important;
}

.badgeYear {
    background-color: rgb(120, 94, 74) !important;
}

.gr-button--quiet, .gr-button {
    color: white !important;
    border: 1px solid rgb(147, 119, 98) !important;
    background-color: rgb(147, 119, 98) !important;
    ;
}

/* middle feed */

.gr-newsfeedItem {
    background-color: rgb(192, 172, 156) !important;
    border: none !important;
    border-radius: 9px !important;
}

.gr-newsfeedItem span, .gr-newsfeedItem a, .gr-newsfeedItem__footerActions button  {
    color: black !important;
}

.gr-commentForm {
    background-color: transparent !important;
    border-top: none !important;
}

/* right feed */

.gr-homePageRailContainer {
    border-bottom: none !important;
    margin-bottom: 12px !important;
    padding-bottom: 0px !important;
}

.choiceWidget, .gr-editorialBlogPost {
    display: none;
}

.homeTertiaryColumn {
    margin-top: 0px !important;
}

footer {
    display: none !important;
}

.recommendationsWidget a {
    color: white !important;
}

/* MY BOOKS PAGE */

.mainContent, .mainContentFloat {
    border-radius: 20px;
    background: rgb(192, 172, 156) !important;
}

.noticeBox {
    display: none !important;
}

.mainContentFloat a, .myBooksPage {
    color: black !important;
}

.covers img {
    -webkit-box-shadow: none !important;
}

/* PROFILE PAGE */

.infoBoxRowItem, .yyibLinks, .mediumText, .bigBoxBody {
    color: black !important;
}